body{
	background-image: url(https://www.wildfrontierstravel.com/media/cache/page_image_large/upload/mirror/www-wildfrontierstravel-com/f581484c_Simien%20Mountains%20-%20dreamstime_xl_27714848.jpeg);
    font-family: Arial, sans-serif;
    padding: 20px;
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    
}

label{
	display: block;
}
input[type="text"], input[type="email"],input[type="number"]{
	display: block;
	margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

div{
	width: 60%;
	height: 60%;
	justify-content: center;
	align-items: center;
	margin-right: 150px;
	margin-left: 150px;
	box-shadow: 0 0 30px 0 blue;

    border-radius: 10px;

}
input{
	background-color: transparent;
	border-radius: 10px;
}

#title,#description{
	width: 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
	margin-right: 150px;
	margin-left: 150px;
}
fieldset{
	border-radius: 10px;
	box-shadow: 0 0 40px red;
	border-color: transparent;

}
select{
	background-color: transparent;
}

option{
	background-color: transparent;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

textarea{
	background-color: transparent;
}

input[type="submit"]{
	cursor: pointer;
}